<h1>Funcionários</h1>
<div id="Funcionarios">
    <table class="tabela">
        <tr>
            <th>Unidade</th>
            <th>Matrícula</th>
            <th>Nome</th>
        </tr>

        {{#each users}}
        <tr>
            <td class="upercase">{{this.unidade}}</td>
            <td>{{this.id}}</td>
            <td>{{this.nome}} <a href="/funcionarios/{{this.unidade}}/edit/{{this.id}}">Editar</a>
            <form action="/funcionarios/{{this.unidade}}/remove/{{this.id}}" method="post">
                <input type="submit" value="Remover">
            </form></td>
        </tr>
        {{/each}}
    </table>
</div>

